@import "tailwindcss";

@theme {
 
  --font-sans: var(--font-inter);
  --font-title: var(--font-space-grotesk);
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
